<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% load custom_tags %}

    <title>Schedule</title>

    <style>
        * {
            font-family: FC Paragraph;
        }
    </style>

</head>

<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #D0AD92ff; color: #ffff;">
    <form class="form-inline my-2 my-lg-0">
        <h1>Select subject, {{request.user.username}}</h1>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-submit" href="{% url 'test' %}" role="button">Test</a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-submit" href="{% url 'selects_subject' %}" role="button">Select subject</a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-submit" href="{% url 'schedule' %}" role="button">Schedule</a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-submit" href="{% url 'about' %}" role="button">About us</a>
        </form>
        <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="nav-logout" type="submit">Logout</button>
        </form>
    </div>
</nav>

<body style="background-color: #FEE8D8ff; margin: 2%;">
    <section id="section-b">
        <p>Schedule</p>
    </section>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">Time</th>
                    <th class="text-uppercase">8:00-9:00</th>
                    <th class="text-uppercase">9:00-10:00</th>
                    <th class="text-uppercase">10:00-11:00</th>
                    <th class="text-uppercase">11:00-12:00</th>
                    <th class="text-uppercase">Break </th>
                    <th class="text-uppercase">13:00-14:00</th>
                    <th class="text-uppercase">14:00-15:00</th>
                    <th class="text-uppercase">15:00-16:00</th>
                    <th class="text-uppercase">16:00-17:00</th>
                    <th class="text-uppercase">17:00-18:00</th>
                    <th class="text-uppercase">18:00-19:00</th>
                    <th class="text-uppercase">19:00-20:00</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for day in days %}
                    <td class="align-middle">{{day}}</td>
                    {%for start_time in start_times %}
                    {% for user in users %}
                    {% if user.sub_id.start_time|time:'H:i' == start_time and user.sub_id.day == day %}
                    <td colspan="{{user.sub_id.get_duration}}">
                        <span class="text-black font-size16 xs-font-size16">{{ user.sub_id.name }}</span>
                        <div class="margin-10px-top font-size14">{{ user.sub_id.code }}</div>
                        <div class="font-size13 text-black">{{ user.sub_id.prof }}</div>
                    </td>
                    {% elif start_time not in day_start_times_used|get_list:day and forloop.last %}
                    <td>
                        {% comment %} start :
                        {{start_time}}
                        {{start_times_used}}
                        user_start:
                        {{user.sub_id.start_time|time:'H:i'}} {% endcomment %}
                    </td>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- วิชาที่สามารถลงได้ในเทอมนี้ -->
    <section id="section-a">

        <h1> วันและเวลาสอบ </h1>

        {% for row in sub_date %}

        {% for user in users %}

        {% if row.code and row.code == user.sub_id.code %}

        <section id="section-a">
            <div class="subject-card">

                <section id="section-e">
                    <div class="box-1">
                        <p class="subject-head">{{row.code}}</p>
                    </div>
                    <div class="box-2">
                        <p class="subject-head">{{row.name}}</p>
                    </div>
                </section>

                <section id="section-e">
                    <div class="box-1">
                        <p class="subject-text">Midterm : {{row.mid_numday|date:"d/m/Y"}}</p>
                    </div>
                    <div class="box-2">
                        <p class="subject-text">Time : {{row.mid_starttime|time:'H:i'}} - {{row.mid_endtime|time:'H:i'}}
                        </p>
                    </div>
                </section>

                <section id="section-e">
                    <div class="box-1">
                        <p class="subject-text">Final : {{row.fin_numday|date:"d/m/Y"}}</p>
                    </div>
                    <div class="box-2">
                        <p class="subject-text">Time : {{row.fin_starttime|time:'H:i'}} - {{row.fin_endtime|time:'H:i'}}
                        </p>
                    </div>
                </section>

            </div>
        </section>

        {% else %}

        {% endif %}
        {% endfor %}
        {% endfor %}

    </section>

    <!-- go on top button -->
    <button id="go-top-button" onclick="goToTop()"></button>

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("go-top-button").style.display = "block";
            } else {
                document.getElementById("go-top-button").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function goToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>

